[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
django-cors-headers = "*"
whitenoise = "*"
googlemaps = "*"
django-heroku = "*"
psycopg2-binary = "*"
psycopg2 = "==2.7.5"
gunicorn = "*"

[requires]
python_version = "3.7"

[dev-packages]
